{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.ballotBox'|trans %}

{% if entity.id %}
    {% set actionName = 'admin.edit'|trans %}
{% else %}
    {% set actionName = 'admin.ballobox.new'|trans %}
{% endif %}

{% block content -%}
    {% if entity.openingTime is not empty or entity.closingTime is not empty %}
        {% set isDtDiffPoll = true %}
    {% else %}
        {% set isDtDiffPoll = false %}
    {% endif %}
    <style>
        .ballotbox-offline-itens {
            display: none;
        }
    </style>
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('admin_ballotbox') }}" role="button"><span
                    class="glyphicon glyphicon-arrow-left"></span> {% trans %}admin.back_to_list{% endtrans %}</a>

        <a class="btn btn-info pull-right" id="btn-load-ballotbox">Copiar última urna</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(edit_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
    {{ form_errors(edit_form) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'admin.name'|trans }}</label>
        <div class="col-sm-10">
            {{ form_errors(edit_form.name) }}
            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control', 'data-val': lastBallotbox.name }}) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'admin.poll'|trans }}</label>
        <div class="col-sm-5">
            {{ form_errors(edit_form.poll) }}
            {{ form_widget(edit_form.poll, {'attr': {'class': 'form-control', 'data-val': lastBallotbox.poll.id }}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    {{ form_errors(edit_form.isOnline) }}
                    {{ form_widget(edit_form.isOnline) }} {{ 'admin.ballotbox_online'|trans }}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group ballotbox-offline-itens">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input {{ isDtDiffPoll ? 'checked="checked"' : '' }} type="checkbox" value="1" name="chkDtDiffPoll" id="chkDtDiffPoll">Deseja usar horarios
                    diferentes da votação?
                </label>
            </div>
        </div>
    </div>

    <div class="form-inline form-group ballotbox-offline-itens ballotbox-offline-time-itens">
        <label class="col-sm-2 control-label">{{ 'admin.opening_time'|trans }}</label>
        <div class="col-sm-10">
            {{ form_errors(edit_form.openingTime) }}
            {{ form_widget(edit_form.openingTime, {'attr': {'class': 'opening-time', 'data-day': lastBallotbox.openingTime|date("d"), 'data-month': lastBallotbox.openingTime|date("n"), 'data-year': lastBallotbox.openingTime|date("Y"), 'data-hour': lastBallotbox.openingTime|date("H"), 'data-minute': lastBallotbox.openingTime|date("i")}}) }}
        </div>
    </div>

    <div class="form-inline form-group ballotbox-offline-itens ballotbox-offline-time-itens">
        <label class="col-sm-2 control-label">{{ 'admin.closing_time'|trans }}</label>
        <div class="col-sm-10">
            {{ form_errors(edit_form.closingTime) }}
            {{ form_widget(edit_form.closingTime, {'attr': {'class': 'closing-time', 'data-day': lastBallotbox.closingTime|date("d"), 'data-month': lastBallotbox.closingTime|date("n"), 'data-year': lastBallotbox.closingTime|date("Y"), 'data-hour': lastBallotbox.closingTime|date("H"), 'data-minute': lastBallotbox.closingTime|date("i")}}) }}
        </div>
    </div>

    <div class="form-group ballotbox-offline-itens">
        <label class="col-sm-2 control-label">{{ 'admin.city'|trans }}</label>
        <div class="col-sm-5">
            {{ form_errors(edit_form.city) }}
            {{ form_widget(edit_form.city, {'attr': {'class': 'form-control', 'data-val': lastBallotbox.city.id }}) }}
        </div>
    </div>

    {# <div class="form-group ballotbox-offline-itens">
        <label class="col-sm-2 control-label">{{ 'admin.address'|trans }}</label>
        <div class="col-sm-10">
            {{ form_errors(edit_form.address) }}
            {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group ballotbox-offline-itens">
        <label class="col-sm-2 control-label">{{ 'admin.latitude'|trans }}</label>
        <div class="col-sm-4">
            {{ form_errors(edit_form.latitude) }}
            {{ form_widget(edit_form.latitude, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group ballotbox-offline-itens">
        <label class="col-sm-2 control-label">{{ 'admin.longitude'|trans }}</label>
        <div class="col-sm-4">
            {{ form_errors(edit_form.longitude) }}
            {{ form_widget(edit_form.longitude, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div> #}

    <div class="form-group ballotbox-offline-itens">
        <label class="col-sm-2 control-label">{{ 'admin.ddd'|trans }}</label>
        <div class="col-sm-4">
            {{ form_errors(edit_form.ddd) }}
            {{ form_widget(edit_form.ddd, {'attr': {'class': 'form-control'}}) }}
        </div>
        <label class="col-sm-2 control-label">{{ 'admin.fone'|trans }}</label>
        <div class="col-sm-4">
            {{ form_errors(edit_form.fone) }}
            {{ form_widget(edit_form.fone, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group ballotbox-offline-itens">
        <label class="col-sm-2 control-label">{{ 'admin.email'|trans }}</label>
        <div class="col-sm-4">
            {{ form_errors(edit_form.email) }}
            {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {# {% if entity.id is empty %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center passphrase-box bg-danger">
                <p>{% trans %}<strong>WARNING</strong>: Below you'll find this ballot box password for it's private key.
                    Copy and save it to a safe place. If you don't, it <strong>CANNOT BE RECOVERED</strong> and you'll
                    have to create another ballot box.{% endtrans %}</p>
                <p class="passphrase">{{ entity.secret }}</p>
            </div>
        </div>
    {% endif %} #}

    <div class="form-group form-actions">
        <div class="col-lg-10 col-lg-offset-2">
            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-success btn-sm btn-save'},'label':'admin.save'|trans}) }}

            {{ form_end(edit_form) }}

            {% if is_granted('ROLE_BALLOTBOX_DELETE') and delete_form is not empty %}
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger btn-sm btn-delete'},'label':'admin.delete'|trans}) }}
                {{ form_end(delete_form) }}
            {% endif %}


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var admin_select_poll = '{{ path('admin_select_poll') }}';
    </script>
    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/admin/ballotbox.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
