{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.ballotBox'|trans %}
{% set actionName = 'admin.list'|trans %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('admin_ballotbox_new') }}" role="button"><span class="glyphicon glyphicon-file"></span> {%trans%}admin.add{%endtrans%}</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="jumbotron">
        {{ form_start(form, {'method':'POST', 'attr': {'role':'form', 'class':'form-inline'}}) }}
            <div class="form-group">
                <label>{{ 'admin.poll'|trans }}</label>
                {{ form_widget(form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>{{ 'admin.city'|trans }}</label>
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>{{ 'admin.type'|trans }}</label>
                {{ form_widget(form.is_online, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">{{ 'admin.filter'|trans }}</button>
            <a href="{{ path('admin_ballotbox_clear_filters') }}" class="btn btn-danger">{{ 'admin.clear_filters'|trans }}</a>
        {{ form_end(form) }}
    </div>

    {% include 'PROCERGSVPRCoreBundle:Admin/BallotBox:list.html.twig' with {'entities': entities} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#check-all").on("click", function() {
            if ($(this).prop("checked")) {
                $(".ballot-check").not(this).prop("checked", true);
            } else {
                $(".ballot-check").not(this).prop("checked", false);
            }
        });

        $(".btn-form-type").on("click", function() {            
            var data = $(this).data("type");
            $("#message-type").val(data);
        });
        $(".btn-selection-type").click(function(e){
            if ($(this).val() == 1) {
                if (!$('#ballotbox-items-form input.ballot-check:checked').length) {
                    $('#myModal').modal('hide');
                    alert('Por favor, selecione alguma urna');
                    return;
                }
            }
            $("#selection-type").val($(this).val());
            $('#ballotbox-items-form').submit();            
        });
    </script>
{% endblock %}