<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover records_list">
        <thead>
            <tr>
                <th width="20%">{{ 'admin.poll'|trans }}</th>
                <th width="15%">{{ 'admin.city'|trans }}</th>
                <th width="30%">{{ 'admin.address'|trans }}</th>
                <th width="5%">{{ 'admin.total_invalid_vote'|trans }}</th>
                <th width="5%">{{ 'admin.is_online'|trans }}?</th>
                <th width="8%">{{ 'admin.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if(entities) %}
                {% for entity in entities %}
                    <tr>
                        <td>{% if (entity.poll) %}{{ entity.poll.name }}{% endif %}</td>
                        <td>{% if (entity.city) %}{{ entity.city.name }}{% endif %}</td>
                        <td>{{ entity.address }}</td>
                        <td class="text-center">{{ entity.totalInvalidVotes }}</td>
                        <td class="text-center">{% if entity.isOnline %}{{ 'admin.yes'|trans }}{% else %}{{ 'admin.no'|trans }}{% endif %}</td>
                        <td class="text-center">
                            <a title="{{ 'admin.show'|trans }}" class="btn btn-default btn-sm" href="{{ path('admin_ballotbox_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a title="{{ 'admin.edit'|trans }}" class="btn btn-default btn-sm" href="{{ path('admin_ballotbox_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr><td colspan="9" class="text-center">{% trans %}admin.no_record_found{% endtrans %}</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="row text-center">
    {{ knp_pagination_render(entities) }}
</div>