{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.ballotBox'|trans %}
{% set actionName = 'admin.show'|trans %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('admin_ballotbox') }}" role="button"><span
                    class="glyphicon glyphicon-arrow-left"></span> {% trans %}admin.back_to_list{% endtrans %}</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form class="form-horizontal" role="form">
        <h1 class="form-group">
            <label class="col-sm-3 control-label">PIN</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ "%04d"|format(entity.pin) }}</p>
            </div>
        </h1>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.id'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ entity.id }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.name'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ entity.name }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.poll'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{% if(entity.poll) %}{{ entity.poll.name }}{% endif %}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.opening_time'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if entity.openingTime is null %}
                        {{ entity.poll.openingTime | date('d/m/Y H:i:s') }} {{ '(poll-defined)' | trans }}
                    {% else %}
                        {{ entity.openingTime | date('d/m/Y H:i:s') }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.closing_time'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    {% if entity.openingTime is null %}
                        {{ entity.poll.closingTime | date('d/m/Y H:i:s') }} {{ '(poll-defined)' | trans }}
                    {% else %}
                        {{ entity.closingTime | date('d/m/Y H:i:s') }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.private_key'|trans }}</label>
            <div class="col-sm-9">
                <a class="btn btn-link" data-toggle="collapse" href="#privateKeyContent" aria-expanded="false"
                   aria-controles="privateKeyContent">
                    {{ 'Show Private Key' | trans }}
                </a>
                <pre id="privateKeyContent" class="collapse form-control-static">{{ entity.privateKey }}</pre>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.public_key'|trans }}</label>
            <div class="col-sm-9">
                <pre class="form-control-static">{{ entity.publicKey }}</pre>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.city'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{% if(entity.city) %}{{ entity.city.name }}{% endif %}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.address'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ entity.address }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.latitude'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ entity.latitude }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.longitude'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ entity.longitude }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.total_invalid_vote'|trans }}</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ entity.totalInvalidVotes }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'admin.ballotbox_online'|trans }}?</label>
            <div class="col-sm-9">
                <p class="form-control-static">{% if(entity.isOnline) %}{{ 'admin.yes'|trans }}{% else %}{{ 'admin.no'|trans }}{% endif %}</p>
            </div>
        </div>
    </form>

    <div class="form-group form-actions">
        <div class="col-lg-10 col-lg-offset-2">
            {% if is_granted('ROLE_BALLOTBOX_CREATE') %}
                <a class="btn btn-default btn-sm" href="{{ path('admin_ballotbox_new') }}" role="button"><span
                            class="glyphicon glyphicon-file"></span> {% trans %}admin.add{% endtrans %}</a>
            {% endif %}
            {% if is_granted('ROLE_BALLOTBOX_UPDATE') %}
                <a href="{{ path('admin_ballotbox_edit', { 'id': entity.id }) }}"
                   class="btn btn-sm btn-primary group-action">{{ 'admin.edit'|trans }}</a>
            {% endif %}

            {% if is_granted('ROLE_BALLOTBOX_DELETE') %}
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger btn-sm btn-delete'},'label':'admin.delete'|trans}) }}
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}