{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
{% trans_default_domain 'messages' %}

<div class="row">
  {% for type, messages in app.session.flashbag.all() %}
  {% for message in messages %}
    <div class="col-md-12">
        <div class="text-center alert alert-{{ type }}">
      {{ message }}
        </div>
    </div>
  {% endfor %}
  {% endfor %}
</div>

<div class="row main-content">
    <div class="col-sm-4">
        <a href="#about" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-about active">
            <span class="glyphicon glyphicon-question-sign"></span>
            {% trans %}What is it?{% endtrans %}
        </a>
    </div>

    <div class="col-sm-4">
        <a href="#howto" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-howto">
            <span class="glyphicon glyphicon-info-sign"></span>
            {% trans %}How do I vote?{% endtrans %}
        </a>
    </div>

    <div class="col-sm-4">
        <a href="#vote" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-vote">
            <span class="glyphicon glyphicon-check"></span>
            {% trans %}Vote now!{% endtrans %}
        </a>
    </div>

    <div class="col-sm-12">
        <div class="tab-content">
            <button type="button" class="close tab-close" aria-hidden="true">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>

            <div class="tab-pane tab-about" id="about">
                <h1>{% trans %}What is it?{% endtrans %}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

            <div class="tab-pane tab-howto" id="howto">
                <h1>{% trans %}How do I vote?{% endtrans %}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

            <div class="tab-pane tab-vote active" id="vote">
                <div class="row register-form-container">
                    <div class="col-sm-12 col-md-6 col-md-offset-3">
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'loginCidadao'}) }}" class="btn btn-primary lc-link" role="button">
                            <span></span>Vote com seu Login Cidadão
                        </a>
                        <div class="spacer"><hr><span>ou</span></div>

                        {{ form_start(form, {'attr' : {'role' : 'form', 'class' : 'register-form'}}) }}
                            {{ form_errors(form) }}
                            <div class="form-group has-feedback clearfix">
                                {{ form_label(form.username, '* ' ~ 'Voter Registration' | trans) }} {{ form_widget(form.username, {'attr': {'class': 'form-control register-tooltip' }}) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error alert-danger">{{ form_errors(form.username) }}</div>
                            </div>
                            <div class="form-group has-feedback">
                                {{ form_label(form.firstname, '* ' ~ 'First name' | trans) }} {{ form_widget(form.firstname, {'attr': {'class': 'form-control' }}) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error alert-danger">{{ form_errors(form.firstname) }}</div>
                            </div>
                            <div class="form-group has-feedback">
                                {{ form_label(form.email, 'Email' | trans) }} {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error alert-danger">{{ form_errors(form.email) }}</div>
                            </div>
                            <div class="form-group has-feedback">
                                {{ form_label(form.mobile, 'Mobile Phone' | trans) }} {{ form_widget(form.mobile, {'attr': {'class': 'form-control' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error alert-danger">{{ form_errors(form.mobile) }}</div>
                            </div>
                            <span>* {{ 'Required fields'|trans }}</span>

                            <button type="submit" class="btn btn-success btn-lg">{{ 'Begin Voting' | trans }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row sub-content">
    <div class="col-sm-6">
        <a href="{{ path('vpr_list_ballotboxes') }}" role="button" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-globe"></span>{% trans %}Where to vote?{% endtrans %}
        </a>
    </div>
    <div class="col-sm-6">
        <a href="{{ path('vpr_ballotByCity') }}" role="button" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon glyphicon-list-alt"></span>{% trans %}Check ballot{% endtrans %}
        </a>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/procergsvprcore/css/register/register.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    var usernameId = "#{{ form.username.vars.id }}";
    $(usernameId).mask('000000000000');
</script>

{% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/register/register.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}