{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
{% trans_default_domain 'messages' %}

        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <div class="col-md-12">
                    <div class="text-center bg-success flash-{{ type }}">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2 id="how-to-vote">{{ 'register.title' | trans }}</h2>
  </div>
</div>

<div class="row register-box">
    <div class="col-md-5">
        <h3 class="title register-label clearfix"><span class="text">{{ 'register.login.simple' | trans }}</span></h3>

        <div class="register-form-container">
          {{ form_start(form, {'attr' : {'role' : 'form', 'class' : 'register-form'}}) }}
          <div class="alert alert-danger">{{ form_errors(form) }}</div>
          <div class="form-group has-feedback">
              {{ form_label(form.username, 'form.username' | trans, {'label_attr': {'class': 'sr-only'}}) }} {{ form_widget(form.username, {'attr': {'class': 'form-control register-tooltip', 'placeholder' : 'form.username' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div class="input-error alert-danger">{{ form_errors(form.username) }}</div>
          </div>
          <div class="form-group has-feedback">
              {{ form_label(form.firstname, 'form.firstname' | trans, {'label_attr': {'class': 'sr-only'}}) }} {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder' : 'form.firstname' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div class="input-error alert-danger">{{ form_errors(form.firstname) }}</div>
          </div>
          <div class="form-group has-feedback">
              {{ form_label(form.surname, 'form.surname' | trans, {'label_attr': {'class': 'sr-only'}}) }} {{ form_widget(form.surname, {'attr': {'class': 'form-control', 'placeholder' : 'form.surname' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div class="input-error alert-danger">{{ form_errors(form.surname) }}</div>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block">{{ 'form.submit' | trans }}</button>
          {{ form_end(form) }}
        </div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm"><hr class="spacer"></div>
    <div class="col-md-5">
        <h3 class="title login-label clearfix"><span class="text">{{ 'register.login.lc'|trans }}</span></h3>
        {% for owner in hwi_oauth_resource_owners() %}
          <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-success btn-lg btn-block hidden-xs" role="button">{{ 'register.login.lc'|trans }}</a>
        {% endfor %}
        <div class="text-right hidden-xs" id="about-lc-link">
          <a href="" role="button">{% trans %}What is Citizen Login?{% endtrans %}</a>
        </div>
        <div class="alert alert-success hidden-xs hidden" id="about-lc">
          <img src="https://www.facebook.com/images/fb_icon_325x325.png" height="50">
          <img src="http://wp.streetwise.co/wp-content/uploads/2012/06/Larry.png" height="50">
        </div>
    </div>
</div>

<div class="row info-box">
  <div class="col-md-5 col-ballot text-center">
    <a href="{{ path('vpr_ballotByCity') }}" role="button" class="link-check ballot-check clearfix">
      <span class="text">{% trans %}Check the ballot of your region{% endtrans %}</span>
    </a>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 text-center">
    <a href="{{ path('vpr_list_ballotboxes') }}" role="button" class="link-check place-check clearfix">
      <span class="text">{% trans %}Check the poll places{% endtrans %}</span>
    </a>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 'bundles/procergsvprcore/css/register/register.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}

  <script type="text/javascript">
  var usernameId = "#{{ form.username.vars.id }}";
  var messages = {
        "0" : "{{ 'form.username.invalid' | trans }}"
  };

  var tooltipContent = {
    "text": "{{ 'register.search.tre' | trans }}",
    "link": "{{ tre_search_link }}",
    "link_text": "{{ 'register.search.tre.click' | trans }}"
  }
  </script>

  {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/register/register.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}
