{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %} {% block body %} {% trans_default_domain 'messages' %}
<h2 id="try-header">{{ 'register.title' | trans }}</h2>
<div class="row">
    <div class="col-md-6">
        <h3>{{ 'register.login.simple' | trans }}</h3>
        {{ form_start(form, {'attr' : {'role' : 'form'}}) }} {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.username, 'form.username' | trans, {'label_attr': {'class': 'sr-only'}}) }} {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder' : 'form.username' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="input-error alert-danger">{{ form_errors(form.username) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.firstname, 'form.firstname' | trans, {'label_attr': {'class': 'sr-only'}}) }} {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder' : 'form.firstname' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="input-error alert-danger">{{ form_errors(form.firstname) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.surname, 'form.surname' | trans, {'label_attr': {'class': 'sr-only'}}) }} {{ form_widget(form.surname, {'attr': {'class': 'form-control', 'placeholder' : 'form.surname' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="input-error alert-danger">{{ form_errors(form.surname) }}</div>
        </div>
        <button type="submit" class="btn btn-default">{{ 'form.submit' | trans }}</button>
        {{ form_end(form) }}
    </div>

    <div class="col-md-6">
        <h3>{{ 'register.login.lc'|trans }}</h3>
        <div class="well">
            <h3 class="text-center">
                {% for owner in hwi_oauth_resource_owners() %} <a href="{{ hwi_oauth_login_url(owner) }}">Isso será um botão</a> <br /> {% endfor %}
            </h3>
            <p class="text-right">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" height="50"> <img src="http://wp.streetwise.co/wp-content/uploads/2012/06/Larry.png" height="50">
            </p>
        </div>
    </div>
</div>
{% endblock %} {% block javascripts %} {{ parent() }}
<script type="text/javascript"> 
var usernameId = '#{{ form.username.vars.id }}';
var messages = {
	    '0' : "{{ 'form.username.invalid' | trans }}"
};


</script>
<script type="text/javascript">
$(function () {
			$(usernameId).on('blur', function () {
				if (!this.value.length) {
					return;
				}
				this.value = completaZerosEsquerda(this.value, 12);
				if (validarTitulo(this.value)) {					
					 
					} else {
						alert(messages[0]);
						}
				
				});
		});
	        
        
</script>
{% endblock %}
