{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'messages' %}

    <div class="row">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="col-md-12">
                    <div class="text-center alert alert-{{ type }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="row main-content">
        <div class="col-sm-4">
            <a href="#about" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-about">
                <span class="glyphicon glyphicon-question-sign"></span>
                {% trans %}What is it?{% endtrans %}
            </a>
        </div>
        {% if votingClosed %}
            <div class="col-sm-4">
                <a href="http://www2.cp.rs.gov.br/pesquisa-de-demandas-2/" class="btn btn-primary btn-block btn-lg btn-tab btn-howto" target="_blank">
                    <span class="glyphicon glyphicon-search"></span>
                    {% trans %}Check demands{% endtrans %}
                </a>
            </div>

            <div class="col-sm-4">
                <a href="#results" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-vote active">
                    <span class="glyphicon glyphicon-stats"></span>
                    {% trans %}Results{% endtrans %}
                </a>
            </div>
        {% else %}
            <div class="col-sm-4">
                <a href="#howto" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-howto">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% trans %}How do I vote?{% endtrans %}
                </a>
            </div>

            <div class="col-sm-4">
                <a href="#vote" data-toggle="tab" class="btn btn-primary btn-block btn-lg btn-tab btn-vote active">
                    <span class="glyphicon glyphicon-check"></span>
                    {% trans %}Vote now!{% endtrans %}
                </a>
            </div>
        {% endif %}


        <div class="col-sm-12">
            <div class="tab-content">
                <button type="button" class="close tab-close" aria-hidden="true">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>

                <div class="tab-pane tab-about" id="about">
                    <h1>{% trans %}What is it?{% endtrans %}</h1>
                    <p>
                        Desde 1998 o Estado do Rio Grande do Sul instituiu, através da Lei nº 11.179, que a população define diretamente parte dos investimentos e serviços que constarão no orçamento do Estado. Esse processo foi denominado de <strong>Consulta Popular</strong>.
                    </p>
                    <p>
                        Anualmente o Governo do Estado fixa o valor submetido à deliberação da população. Este valor é distribuído entre as <strong>28 Regiões do Estado</strong>, de acordo critérios como a população de cada região e o Índice de Desenvolvimento Socioeconômico (IDESE).
                    </p>
                    <p>
                        Definido o valor para cada região, o governo e os Conselhos Regionais de Desenvolvimento (COREDES) organizam o processo de discussão em <strong>Audiências Públicas Regionais, Assembleias Municipais e Fóruns Regionais</strong>. Nos encontros, é construída uma cédula de votação regional, que é submetida aos eleitores gaúchos em um <strong>dia de votação da Consulta Popular</strong>.
                    </p>
                </div>

                <div class="tab-pane tab-howto" id="howto">
                    <h1>{% trans %}How do I vote?{% endtrans %}</h1>
                    <p>
                        Neste ano de 2017 a votação será realizada nos dias 01, 02 e 03 de agosto em todo o Estado, por meio de voto secreto. 
                        Estão habilitados a votar apenas os eleitores com domicílio eleitoral no Rio Grande do Sul. 
                        Os eleitores poderão votar em apenas um dos Programas ou Ações constantes da cédula de votação.
                   </p>
				   <p>	
				   		Na votação on-line e nos pontos de votação é necessário o número do seu título de eleitor. Caso você não o tenha à mão, 
						o ambiente de votação na internet, permitirá pesquisa diretamente no Tribunal Superior Eleitoral (TSE).
				   </p>
				   <p>				   
				   		Como votar:
				   </p>
				   <p>
				   		– pelo site da Consulta Popular
				   </p>
				   <p>	
						– presencialmente, por um aplicativo disponibilizado a representantes dos Coredes e dos Comudes
                   </p>
                   <p>  
						– via SMS para o número 29000, com a palavra RSVOTO#(Nº do título de eleitor)#(Nº do programa, de 1 a 10)
                    </p>                    
                </div>

                {% if votingClosed %}{#
                    <div class="tab-pane tab-vote active" id="results">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <a href="{{ path('vpr_option_vote_by_city')}}">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Ver os resultados por município
                                </a>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a href="{{ path('vpr_option_vote_by_corede')}}">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Ver os resultados por Corede
                                </a>
                            </div>
                        </div>
                    </div>#}
                {% else %}
                    <div class="tab-pane tab-vote active" id="vote">
                        <div class="row register-form-container">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'loginCidadao'}) }}" class="btn btn-primary lc-link" role="button">
                                    <span></span>{{ 'Vote with Citizen Login'|trans }}
                                </a>
                                <div class="spacer"><!-- <hr> --></div>
                                <h4 class="text-center" >{{ 'or fill the form below'|trans }}</h4>


                                {{ form_start(form, {'attr' : {'role' : 'form', 'class' : 'register-form'}}) }}
                                {{ form_errors(form) }}
                                <div class="form-group has-feedback clearfix">
                                    {{ form_label(form.username, '* ' ~ 'Voter Registration' | trans) }} {{ form_widget(form.username, {'attr': {'class': 'form-control register-tooltip' }}) }}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <div class="input-error alert-danger">{{ form_errors(form.username) }}</div>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_label(form.firstname, '* ' ~ 'First name' | trans) }} {{ form_widget(form.firstname, {'attr': {'class': 'form-control' }}) }}
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <div class="input-error alert-danger">{{ form_errors(form.firstname) }}</div>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_label(form.email, 'Email' | trans) }} {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <div class="input-error alert-danger">{{ form_errors(form.email) }}</div>
                                    <p class="text-left accept_registration">
                                        {{ form_widget(form.loginCidadaoAcceptRegistration) }}
                                        {{ form_label(form.loginCidadaoAcceptRegistration, 'Accepts create an account in Citizen Login service?' | trans) }}
                                    </p>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_label(form.mobile, 'Mobile Phone' | trans) }} {{ form_widget(form.mobile, {'attr': {'class': 'form-control' }}) }} <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <div class="input-error alert-danger">{{ form_errors(form.mobile) }}</div>
                                </div>

                                <button type="submit" class="btn btn-success btn-lg">{{ 'Begin Voting' | trans }}</button>
                                <h6 class="text-center">* {{ 'Required fields'|trans }}</h6>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="row sub-content">
        <div class="col-sm-6">
            <a href="{{ path('vpr_list_ballotboxes') }}" role="button" class="btn btn-primary btn-lg btn-block btn-cedula">
                <span class="glyphicon glyphicon-globe"></span>{% trans %}Where to vote{% endtrans %}
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('vpr_ballotByCity') }}" role="button" class="btn btn-primary btn-lg btn-block btn-cedula">
                <span class="glyphicon glyphicon glyphicon-list-alt"></span>{% trans %}Check ballot{% endtrans %}
            </a>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/procergsvprcore/css/register/register.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var usernameId = "#{{ form.username.vars.id }}";
        $(usernameId).mask('000000000000');
    </script>

    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/register/register.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}