{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      {{ form_start(form, {'attr' : {'role' : 'form'}}) }} {{ form_errors(form) }}
      <div class="form-group">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
      </div>
      {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'},'label':'Search'}) }}
      {{ form_end(form) }}

      {% if steps %}
      <section>
        <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
          {% for key, step in steps %}
          <p>{{ key }}</p>
          <ul>
            {% for option in step %}
            <li><label for="cb6">{{ option.title }}</label></li>
            {% endfor %}
          </ul>
          {% endfor %}
        </form>
      </section>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
