{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ 'end.change.offer.title'|trans }}</h3>
        <div class="alert alert-danger">{{ 'end.change.offer.message'|trans }}</div>
    </div>

    <div class="col-md-12 general-content">
        <p>{{ 'end.change.nfe.register.offer'|trans }}</p>
        <p><a class="btn btn-success" role="button" href="{{ path('procergsvpr_core_end_change') }}" onclick="go()">{{ 'end.offer.lc.register.click'|trans }}</a></p>
        <p><a id="btn-skip" class="btn btn-success" role="button" href="{{ path('fos_user_security_logout') }}">{{ 'Skip Step' | trans }}</a></p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function go() {
  window.open('{{ link_lc }}', '',"width=1024, height=600, scrollbars=yes");
}
</script>
{% endblock %}