<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Participação Popular e Cidadã</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin:0;">
    <table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:98%">
        <tbody>
            <tr>
                <td style="font-family:'Open Sans',arial;font-size:12px;padding:0px;background:#e0e1e5">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:100%">
                        <tbody>
                            <tr>
                                <td style="font-size:11px;font-family:'Open Sans',arial;padding:0;border-left:none;border-right:none;border-top:none;border-bottom:none">
                                    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0;width:100%">
                                                    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#e0e1e5" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="19">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <center>
                                                                        <table width="610" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="background-color:#ffffff;border-color:#c1c2c4;border-style:solid;display:block;border-width:1px;border-radius:5px;overflow:hidden">
                                                                                        <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding:35px">
                                                                                                        
                                                                                                        
                                                                                                        

	<div>
		<p style="height: 11pt;  text-align: left;  direction: ltr">
			<span style="font-size: 6pt;background-color: #ffffff"></span>
		</p>
		<a href="#" name="f727949b760321cc972232d42b2d9fa1f8785d82"></a><a href="#" name="2"></a>
		<table style="margin-right: auto;  border-collapse: collapse;  margin-left: auto" cellpadding="0" cellspacing="0"><tbody><tr style="height: 0pt"><td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 225.6pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: middle;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: justify;  direction: ltr;  padding-bottom: 0pt">
							<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px)">
							<img alt="" src="http://vota.rs.gov.br/mail/image05.png" style="margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""/>
							</span>
						</p></td>
					<td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 225.6pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: right;  direction: ltr;  padding-bottom: 0pt">
							<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 91.50px; height: 90.41px;">
							<img alt="LogoLoginCidadao.png" src="http://vota.rs.gov.br/mail/image04.png" style="rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""/>
							</span>
						</p></td>
				</tr></tbody></table><hr/><p style="height: 11pt;  text-align: center;  direction: ltr">
			<span style="font-size: 6pt"></span>
		</p>
	</div>
	<p style="text-align: right;  direction: ltr">
		<span style="color: #999999;  font-style: italic;font-size: 8pt;background-color: #ffffff">Esse é um lembrete para
			você não esquecer de</span>
	</p>
	<p style="text-align: right;  direction: ltr">
		<span style="color: #3c78d8;  font-size: 8pt;  font-style: italic;background-color: #ffffff;text-decoration: underline"><a href="{{ urlCustom }}" style="color: inherit;  text-decoration: inherit">confirmar
				a criação dos seu Login Cidadão</a></span>
	</p>
	<p style="height: 11pt;  direction: ltr">
		<span style="font-size: 6pt;background-color: #ffffff"></span>
	</p>
	<p style="line-height: 1.15;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff">Olá, {{ fullName }}, tudo bem?</span>
	</p>
	<p style="line-height: 1.15;  height: 11pt;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff"></span>
	</p>
	<p style="line-height: 1.15;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff">Lembra que antes do 7 x 1 da Alemanha e da
			corrida eleitoral, você participou de um processo para definir
			as prioridades orçamentárias do Estado?</span>
	</p>
	<p style="line-height: 1.15;  height: 11pt;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff"></span>
	</p>
	<p style="line-height: 1.15;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff">Pois é, foi um ano e tanto. Mas o
			ciclo orçamentário não pára, e é
			por isso que estamos aqui. =D<br/><br/>Primeiro
			gostaríamos de agradecer a você que participou da
		</span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Votação de Prioridades do
			Orçamento do Estado do Rio Grande do Sul para 2015</span><span style="font-size: 10pt;  background-color: #ffffff">, entre os dias 2 e 4 de junho de 2014,
			contribuindo com pelo menos um dos </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">255.751
		</span><span style="font-size: 10pt;  background-color: #ffffff">votos </span><span style="font-size: 10pt;  background-color: #ffffff">por meio da
			Internet. Um Recorde Mundial! \o/ \o/ \o/ </span>
	</p>
	<p style="line-height: 1.15;  height: 11pt;  direction: ltr">
		<span style="background-color: #ffffff;font-size: 8pt"></span>
	</p>
	<p style="line-height: 1.15;  text-align: right;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff;font-style: italic">Veja os r</span><span style="font-size: 10pt;  background-color: #ffffff;font-style: italic">esultados
			que nos deixaram pra lá de satisfeit@s:</span><span style="font-size: 10pt;  background-color: #ffffff;color: #999999;  font-style: italic">&nbsp;</span><span style="font-size: 10pt;  background-color: #ffffff;text-decoration: underline;color: #1155cc;  font-style: italic"><a href="https://vota.rs.gov.br/register#results" style="color: inherit;  text-decoration: inherit">https://vota.rs.gov.br/register#results</a></span>
	</p>
	<p style="line-height: 1.15;  height: 11pt;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff"></span>
	</p>
	<p style="line-height: 1.15;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff">Também é com grande
			satisfação que, depois de uma longa jornada de ajustes
			e melhorias nas ferramentas e serviços digitais de Governo,
			entramos em contato para dizer que ''está tudo
			pronto'' e lembrar que </span><span style="font-size: 10pt;  background-color: #ffffff">você
			ainda pode </span><span style="font-size: 10pt;  background-color: #ffffff">efetivar a criação
			do seu </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Login Cidadão</span><span style="font-size: 10pt;  background-color: #ffffff">.</span>
	</p>
	<a href="#" name="9caf4ebae5bc3329443b208f74f59e4fb7ad9032"></a>
	<a href="#" name="0"></a>
	<table style="margin-right: auto;  border-collapse: collapse" cellpadding="0" cellspacing="0"><tbody><tr style="height: 162pt"><td colspan="1" rowspan="1" style="border-bottom-width: 1pt;  border-top-style: solid;  width: 120pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 1pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 1pt;  border-left-width: 1pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: left;  direction: ltr;  padding-bottom: 0pt">
						<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px)">
						<img alt="LogoLoginCidadao+NFG.png" src="http://vota.rs.gov.br/mail/image00.png" style="transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""/>
						</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  height: 11pt;  text-align: left;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #000000;  font-family: &quot;Arial&quot;;  text-decoration: none;  font-weight: normal;font-size: 10pt;  background-color: #ffffff;font-style: normal"></span>
					</p></td>
				<td colspan="1" rowspan="1" style="border-bottom-width: 1pt;  border-top-style: solid;  width: 330pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 1pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 1pt;  border-left-width: 1pt"><p style="padding-top: 0pt;  text-align: justify;  padding-bottom: 5pt;line-height: 1.15;  height: 11pt;  direction: ltr">
						<span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;vertical-align: baseline;  color: #000000;  font-family: &quot;Arial&quot;;  text-decoration: none;  font-weight: normal"></span>
					</p>
					<p style="padding-top: 0pt;  text-align: justify;  padding-bottom: 5pt;line-height: 1.15;  direction: ltr">
						<span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">Mas o que é mesmo o </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">Login Cidadão</span><span style="vertical-align: baseline;  color: #000000;  font-family: &quot;Arial&quot;;  text-decoration: none;  font-weight: normal;font-size: 9pt;  font-style: italic;  background-color: #ffffff">?
						</span>
					</p>
					<p style="line-height: 1.15;  direction: ltr;padding-top: 0pt;  text-align: justify;  padding-bottom: 5pt">
						<span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">É a chave de entrada para o </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">MEU RS</span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">: plataforma
							que </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">facilita e simplifica </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">o acesso aos </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">serviços
							digitais</span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">&nbsp;oferecidos pelo Governo do
							Estado do Rio Grande do Sul, por meio de um cadastro integrado e
							um catálogo de </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">aplicativos</span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">&nbsp;e </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">ferramentas</span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">&nbsp;digitais de </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">cidadania
							colaborativa</span><span style="vertical-align: baseline;  color: #000000;  font-family: &quot;Arial&quot;;  text-decoration: none;  font-weight: normal;font-size: 9pt;  font-style: italic;  background-color: #ffffff">.</span>
					</p>
					<p style="line-height: 1.15;  direction: ltr;padding-top: 0pt;  text-align: justify;  padding-bottom: 0pt">
						<span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">Uma nova concepção de
							relacionamento entre o </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">Estado</span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">&nbsp;e a </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">Sociedade</span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff">, que garante uma experiência de
							comunicação e governança com privacidade e
							segurança. </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;font-weight: bold">Veja mais: </span><span style="font-size: 9pt;  font-style: italic;  background-color: #ffffff;text-decoration: underline;font-weight: bold;color: #1155cc"><a href="https://meu.rs.gov.br/sobre" style="color: inherit;  text-decoration: inherit">https://meu.rs.gov.br/sobre</a></span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  height: 11pt;  text-align: left;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #000000;  font-family: &quot;Arial&quot;;  text-decoration: none;  font-weight: normal;font-size: 10pt;  background-color: #ffffff;font-style: normal"></span>
					</p></td>
			</tr></tbody></table><p style="line-height: 1.15;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff">Vale lembrar que, pela primeira vez, o </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Gabinete Digital</span><span style="font-size: 10pt;  background-color: #ffffff">&nbsp;articulou
			uma parceria com a </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Receita Estadual</span><span style="font-size: 10pt;  background-color: #ffffff">, através da qual os participantes da
			votação que criarem uma conta no MEU RS
			receberão até dois bilhetes extras para participar do
			Sorteio do Milhão, da </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Nota Fiscal
			Gaúcha</span><span style="font-size: 10pt;  background-color: #ffffff">. Um por participar da </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Votação de Prioridades</span><span style="font-size: 10pt;  background-color: #ffffff">&nbsp;e mais um por se cadastrar no </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Login Cidadão</span><span style="font-size: 10pt;  background-color: #ffffff">.</span>
	</p>
	<p style="line-height: 1.15;  height: 11pt;  direction: ltr">
		<span style="font-size: 6pt;background-color: #ffffff"></span>
	</p>
	<p style="line-height: 1.15;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff">Portanto, não perca tempo! Clique no
			botão abaixo para confirmar a criação do seu </span><span style="font-size: 10pt;  background-color: #ffffff;font-weight: bold">Login Cidadão</span><span style="font-size: 10pt;  background-color: #ffffff">&nbsp;com
			os mesmos dados fornecidos por você durante a
			Votação de Prioridades, antes do dia 15 de Janeiro,
			para que seus bilhetes extras sejam computados a tempo do sorteio.</span>
	</p>
	<p style="line-height: 1.15;  height: 11pt;  direction: ltr">
		<span style="font-size: 10pt;  background-color: #ffffff"></span>
	</p>
	<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
		<span style="color: #274e13;  font-size: 12pt;  font-family: 'Oswald';font-weight: bold">\</span><span style="color: #274e13;  font-size: 12pt;  font-family: 'Oswald';font-weight: bold">__ </span><span style="color: #274e13;  font-size: 12pt;  font-family: 'Oswald';font-weight: bold">&nbsp;</span><span style="color: #1155cc;  font-size: 12pt;  font-family: 'Oswald';  font-weight: bold"><a href="{{ urlCustom }}" style="color: inherit;  text-decoration: inherit">CLIQUE AQUI </a></span><span style="color: #1155cc;  font-size: 12pt;  font-family: 'Oswald'"><a href="{{ urlCustom }}" style="color: inherit;  text-decoration: inherit">E </a></span><span style="font-weight: bold;color: #6aa84f;  font-size: 12pt;  font-family: 'Oswald'"><a href="{{ urlCustom }}" style="color: inherit;  text-decoration: inherit">CONFIRME</a></span><span style="color: #1155cc;  font-size: 12pt;  font-family: 'Oswald'"><a href="{{ urlCustom }}" style="color: inherit;  text-decoration: inherit">&nbsp;SEU </a></span><span style="color: #1155cc;  font-size: 12pt;  font-family: 'Oswald';  font-weight: bold"><a href="{{ urlCustom }}" style="color: inherit;  text-decoration: inherit">CADASTRO</a></span><span style="color: #274e13;  font-size: 12pt;  font-family: 'Oswald'">&nbsp;
		</span><span style="color: #274e13;  font-size: 12pt;  font-family: 'Oswald'">__/</span>
	</p>
	<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 8pt">
		<span style="color: #93c47d;  font-size: 24pt;  font-family: &quot;Georgia&quot;;background-color: #ffffff;font-weight: bold">✪</span>
	</p>
	<p style="line-height: 1.0;  padding-top: 0pt;  margin-right: 63pt;  text-align: center;  direction: ltr;  margin-left: 69.8pt;  padding-bottom: 4pt">
		<span style="color: #434343;  font-size: 12pt;  font-family: 'Oswald'">Conheça outros </span><span style="color: #434343;  font-size: 12pt;  font-family: 'Oswald';  font-weight: bold">serviços
			digitais de governo</span><span style="color: #434343;  font-size: 12pt;  font-family: 'Oswald'">, conectados ao MEU RS:</span>
	</p>
	<hr/><a href="#" name="da19ad6f7e9d13fa5049acee84e9176d7ea7db8c"></a>
	<a href="#" name="1"></a>
	<table style="margin-right: auto;  border-collapse: collapse;  margin-left: auto" cellpadding="0" cellspacing="0"><tbody><tr style="height: 93pt"><td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 117pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);">
						<img alt="mapa da cultura" src="http://vota.rs.gov.br/mail/image02.png" style="transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""/>
						</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 2pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #5b0f00;  font-size: 14pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: normal">Mapa da Cultura</span>
					</p></td>
				<td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 36.8pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">| </span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="font-weight: bold;color: #f3f3f3;  font-size: 12pt;  font-family: 'Oswald'">|</span>
					</p></td>
				<td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 115.5pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);">
						<img alt="pro-cultura" src="http://vota.rs.gov.br/mail/image03.png" style="transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""/>
						</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 2pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="color: #666666;  font-size: 14pt;  font-family: 'Oswald'">ProCultura RS</span>
					</p></td>
				<td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 39pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="vertical-align: baseline;  color: #f3f3f3;  font-size: 12pt;  font-style: normal;  font-family: 'Oswald';  text-decoration: none;  font-weight: bold">|</span>
					</p></td>
				<td colspan="1" rowspan="1" style="border-bottom-width: 0pt;  border-top-style: solid;  width: 128.2pt;  border-right-style: solid;  padding: 5pt 5pt 5pt 5pt;  border-bottom-color: #ffffff;  border-top-width: 0pt;  border-bottom-style: solid;  vertical-align: top;  border-top-color: #ffffff;  border-left-color: #ffffff;  border-right-color: #ffffff;  border-left-style: solid;  border-right-width: 0pt;  border-left-width: 0pt"><p style="line-height: 1.0;  padding-top: 0pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);">
							<img alt="central do cidadao" src="http://vota.rs.gov.br/mail/image01.png" style="transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""/>
						</span>
					</p>
					<p style="line-height: 1.0;  padding-top: 2pt;  text-align: center;  direction: ltr;  padding-bottom: 0pt">
						<span style="font-style: normal;vertical-align: baseline;  color: #134f5c;  font-size: 14pt;  font-family: 'Oswald';  text-decoration: none;  font-weight: normal">Central do Cidadão</span>
					</p></td>
			</tr>
			
			</tbody></table>
                                                                                                        
                                                                                                        
                          
                                                                                                    
                                                                                                    
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                                                	<td style="font-size:11px;font-family:'Open Sans',arial;padding-top:6px;background-color:#f3f3f3;" colspan="2">
	                                                                                                                	<div class="SafetyBarItem">
	                                                                                                                		<span>Too many newsletters? You can <a class="sfUnsubscribe" href="#" style="margin:0px;">unsubscribe</a>.</span>
	                                                                                                                	</div>
                                                                                                                	</td>                                                                                                                
                                                                                                                </tr>   
                                                                            </tbody>
                                                                        </table>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                            <td style="padding:0;width:100%">
                                                <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <center>
                                                                    <table width="610" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="610" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-size:12px;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;padding:18px 0;border-left:none;border-right:none;border-top:none;border-bottom:none;color:#6a7180;font-weight:300;line-height:16px;text-align:center;border:none">
                                                                                                    Copyleft @2014 Governo do Rio Grande do Sul
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </center>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>