{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
{% if nfgRegisterUrl is not defined %}
{% set nfgRegisterUrl = '' %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ 'posvote.congratulation.title'|trans }}</h3>
        <div class="alert alert-success">{{ 'posvote.congratulation.message'|trans }}</div>
    </div>

    <div class="col-md-12">
        <div class="jumbotron">
            <p>{{ 'posvote.nfe.register.offer' }}</p>
            <p><a id="btn-popup-nfg" class="btn btn-primary" role="button" href="{{ nfgRegisterUrl }}">{{ 'posvote.nfe.register.offer.click' }}</a></p>
            <p><a id="btn-continue" class="btn btn-primary" role="button" href="{{ path('procergsvpr_core_reforcar_voto') }}">{{ 'posvote.continue.click' }}</a></p>
            <p><a id="btn-skip" class="btn btn-primary" role="button" href="{{ path('procergsvpr_core_end') }}">{{ 'posvote.skip.click' | trans }}</a></p>
        </div>
    </div>    
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}    
<script>
$(document).on('click', '#btn-popup-nfg', function (event) {
	event.preventDefault();
    var url = $(this).attr('href');
    window.open(url, '', "width=600,height=450");
    return false;
});
</script>    
{% endblock %}