{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ 'posvote.reinforce.nfg.title'|trans }}</h3>
        <p>{{ 'posvote.reinforce.nfg.message'|trans }}</p>
        <p><a id="btn-continue" class="btn btn-primary" role="button" >{{ 'posvote.continue.click'|trans }}</a></p>
        <p><a id="btn-skip" class="btn btn-primary" role="button" href="{{ path('procergsvpr_core_end') }}">{{ 'Skip Step' | trans }}</a></p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var posvote = {};
</script>
{% endblock %}