{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Confirm your Voter Registration'|trans }}</h1>
        <p>{% trans %}Thank you for casting your vote. If you vote on Rio Grande do Sul you can still reinforce your vote using your Voter Registration.{% endtrans %}</p>
        <p>{% trans %}To continue the voting process fill the information below to validate your vote.{% endtrans %}</p>
        {{ form_start(form, {'attr' : {'role' : 'form', 'id': 'form-posvote-reinforce'}}) }}
            {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.trevoter, 'Voter Registration'| trans) }}
            {{ form_errors(form.trevoter) }}
            <div class="form-group clearfix">
              {{ form_widget(form.trevoter) }}
            </div>
        </div>
            {% if form.firstname is defined %}
        <div class="form-group">
            {{ form_label(form.firstname, 'First name'| trans) }}
            {{ form_errors(form.firstname) }}
            <div class="form-group clearfix">
              {{ form_widget(form.firstname, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
            {% endif %}

        <p>
          <a id="btn-skip" class="btn" role="button" href="{{ path('fos_user_security_logout') }}">{{ 'Skip Step' | trans }}</a>
          <a id="btn-continue" class="btn btn-primary" role="button" >{{ 'Confirm'|trans }}</a>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    var posvote = {};
    posvote.trevoterId = '#{{ form.trevoter.vars.id }}';
    $(document).ready(function() {
        $("#btn-continue").click(function() {
            $('#form-posvote-reinforce').submit();
        });
    });
</script>
{% endblock %}