{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RlCriterioMun</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Perccitizen</th>
                <td>{{ entity.percCitizen }}</td>
            </tr>
            <tr>
                <th>Percvoter</th>
                <td>{{ entity.percVoter }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('rlcriteriomun') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('rlcriteriomun_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
