{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'report.missio'|trans %}
{% set actionName = 'report.missio.agency'|trans %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('rlagency') }}?poll_id={{ entity.poll.id }}" role="button"><span
                    class="glyphicon glyphicon-arrow-left"></span> {% trans %}admin.back_to_list{% endtrans %}</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<form class="form-horizontal" role="form" method="POST">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'admin.name'|trans }}</label>
        <div class="col-sm-7">
        <input type="text" name="name" id="name" class="form-control" value="{{ entity.name }}">
        </div>
    </div>


    <div class="form-group form-actions">
        <div class="col-lg-10 col-lg-offset-2">
        	<button type="submit" class="btn btn-success btn-sm btn-save">{{ 'admin.save'| trans }}</button>
        	{% if entity.id > 0 %}
        	<a class="btn btn-danger btn-sm btn-delete" href="{{ path('rlagency_delete', {'id' : entity.id}) }}">{{ 'admin.delete'|trans }}</a>
            {% endif %}
        </div>
    </div>
    </form>
{% endblock %}
