{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.poll'|trans %}
{% set actionName = 'admin.add'|trans %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('admin_poll') }}" role="button"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}admin.back_to_list{% endtrans %}</a>
    </div>

    {{ form_start(form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}
    
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'admin.name'|trans }}</label>
            <div class="col-sm-10">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-inline form-group">
            <label class="col-sm-2 control-label">{{ 'admin.opening_time'|trans }}</label>
            <div class="col-sm-10">
                {{ form_errors(form.openingTime) }}
                {{ form_widget(form.openingTime, {'attr': {'class': ''}}) }}
            </div>
        </div>

        <div class="form-inline form-group">
            <label class="col-sm-2 control-label">{{ 'admin.closing_time'|trans }}</label>
            <div class="col-sm-10">
                {{ form_errors(form.closingTime) }}
                {{ form_widget(form.closingTime, {'attr': {'class': ''}}) }}
            </div>
        </div>
        <div class="form-inline form-group">
            <label class="col-sm-2 control-label">{{ 'admin.apuration_time'|trans }}</label>
            <div class="col-sm-10">
                {{ form_errors(form.apurationTime) }}
                {{ form_widget(form.apurationTime, {'attr': {'class': ''}}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'admin.description'|trans }}</label>
            <div class="col-sm-10">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-lg-10 col-lg-offset-2">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-sm btn-save'},'label':'admin.save'|trans}) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
