{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.poll'|trans %}
{% set actionName = 'admin.stats'|trans %}

{% block content -%}


    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="jumbotron">
        {{ form_start(form, {'method':'POST', 'attr': {'role':'form', 'class':'form-inline'}}) }}
            <div class="form-group">
                <label>{{ 'admin.poll'|trans }}</label>
                {{ form_widget(form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">{{ 'admin.filter'|trans }}</button>
            <a href="{{ path('admin_step_clear_filters') }}" class="btn btn-danger">{{ 'admin.clear_filters'|trans }}</a>
        {{ form_end(form) }}
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover records_list">
            <thead>
                <tr>
                    <th width="30%">{{ 'admin.corede'|trans }}</th>
                    <th width="15%">{{ 'admin.votes_online'|trans }}</th>
                    <th width="15%">{{ 'admin.votes_offline'|trans }}</th>
                    <th width="15%">{{ 'admin.voters_online'|trans }}</th>
                    <th width="15%">{{ 'admin.voters_offline'|trans }}</th>
                </tr>
            </thead>
            <tbody id="admin-poll-list">
                {% if(coredes) %}
                    {% for corede in coredes %}
                        <tr>
                            <td>{{ corede.corede }}</td>
                            <td>{{ corede.votes_online }}</td>
                            <td>{{ corede.votes_offline }}</td>
                            <td>{{ corede.voters_online }}</td>
                            <td>{{ corede.voters_offline }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr><td colspan="7" class="text-center">{% trans %}admin.no_record_found{% endtrans %}</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}