{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.poll'|trans %}
{% set actionName = 'admin.stats'|trans %}

{% block content -%}


    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="jumbotron">
        {{ form_start(form, {'method':'POST', 'attr': {'role':'form'}}) }}
        <div class="row">
            <div class="form-group col-md-12">
                <label>{{ 'admin.poll'|trans }}</label>
                {{ form_widget(form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 text-right">
                <button type="submit" class="btn btn-primary">{{ 'admin.filter'|trans }}</button>
                <a href="{{ path('admin_step_clear_filters') }}" class="btn btn-danger">{{ 'admin.clear_filters'|trans }}</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover records_list">
            <thead>
                <tr>
                    <th width="30%">{{ 'admin.corede'|trans }}</th>
                    <th width="15%">{{ 'admin.voters_online'|trans }}</th>
                    <th width="15%">{{ 'admin.voters_offline'|trans }}</th>
                    <th width="15%">{{ 'admin.voters_sms'|trans }}</th>
                    <th width="15%">{{ 'admin.tot_pop'|trans }}</th>
                    <th width="15%">{{ 'admin.tot'|trans }}</th>
                    <th width="15%">{{ 'admin.perc'|trans }}</th>
                </tr>
            </thead>
            <tbody id="admin-poll-list">
                {% if(coredes) %}
                    {% set total_online = 0 %}
                    {% set total_offline = 0 %}
                    {% set total_sms = 0 %}
                    {% set total_pop = 0 %}
                    {% set total_tot = 0 %}
                    {% for corede in coredes %}
                        {% set total_online = total_online + corede.voters_online %}
                        {% set total_offline = total_offline + corede.voters_offline %}
                        {% set total_sms = total_sms + corede.voters_sms %}
                        {% set total_pop = total_pop + corede.tot_pop %}
                        {% set total_tot = total_tot + corede.tot %}
                        <tr>
                            <td><a href="{{ path('admin_stats_corede2', {'poll' : poll.id, 'corede' : corede.corede_id}) }}">{{ corede.corede }}</a></td>
                            <td>{{ corede.voters_online }}</td>
                            <td>{{ corede.voters_offline }}</td>
                            <td>{{ corede.voters_sms }}</td>
                            <td>{{ corede.tot_pop }}</td>
                            <td>{{ corede.tot }}</td>
                            <td>{{ corede.perc }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-right">Total</td>
                        <td><strong>{{ total_online }}</strong></td>
                        <td><strong>{{ total_offline }}</strong></td>
                        <td><strong>{{ total_sms }}</strong></td>
                        <td><strong>{{ total_pop }}</strong></td>
                        <td><strong>{{ total_tot }}</strong></td>
                        <td>-</td>
                    </tr>
                {% else %}
                        <tr><td colspan="7" class="text-center">{% trans %}admin.no_record_found{% endtrans %}</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/admin/stats_list.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}