{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="main-title search-title">
                <span class="glyphicon glyphicon-globe"></span>
                <span>{{ 'Polling Places' | trans }}</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Os Coredes e as prefeituras estão divulgando os locais onde serão instaladas as urnas presenciais. Também é possível votar diretamente no site <a href="http://www.consultapopular.rs.gov.br" target="_blank">www.consultapopular.rs.gov.br</a> das 7h às 23h59min do dia 19 de agosto.</p>
            <p>
                Informações no site, no email <a href="mailto:consultapopular@seplan.rs.gov.br">consultapopular@seplan.rs.gov.br</a> ou no telefone (51) 3288-1490.
            </p>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/procergsvprcore/css/search/search.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var citiesList
        = {{ cities | raw }};
    </script>
    {% javascripts
  '@PROCERGSVPRCoreBundle/Resources/public/js/components/citiesTypeahead.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
