{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="main-title search-title">
                <span class="glyphicon glyphicon-globe"></span>
                <span>{{ 'Polling Places' | trans }}</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Os Conselhos Regionais de Desenvolvimento (Coredes) e as prefeituras estão divulgando os locais onde serão instaladas as urnas presenciais. Em caso de dúvida, contate o Corede de sua região:</p>
            <table id="vote-places" summary="lista de contatos dos COREDES" class="COREDEScontact results table-striped" style="margin: 0 auto 20px;">
                <tr>
                    <td style="background:none; text-align: center" colspan="2">Contato dos COREDES</td>
                </tr>
                <tr>
                    <td>COREDE</td>
                    <td>CONTATOS</td>
                </tr>
                <tr>
                    <td>ALTO DA SERRA DO BOTUCARAÍ</td>
                    <td>(54) 3381-4188</td>
                </tr>
                <tr>
                    <td>ALTO JACUÍ</td>
                    <td>(55) 3321-1638</td>
                </tr>
                <tr>
                    <td>CAMPANHA</td>
                    <td>(53) 3240-1395</td>
                </tr>
                <tr>
                    <td>CAMPOS DE CIMA DA SERRA</td>
                    <td>(54) 3908-5400</td>
                </tr>
                <tr>
                    <td>CELEIRO</td>
                    <td>(55) 3522-1933 ou 3522-2827</td>
                </tr>
                <tr>
                    <td>CENTRAL</td>
                    <td> (55) 3217-7805</td>
                </tr>
                <tr>
                    <td>CENTRO-SUL</td>
                    <td> (51) 3651-4025</td>
                </tr>
                <tr>
                    <td>FRONTEIRA NOROESTE </td>
                    <td>(55) 3511-5200</td>
                </tr>
                <tr>
                    <td>FRONTEIRA OESTE</td>
                    <td>(55) 3431.3864</td>
                </tr>
                <tr>
                    <td>HORTÊNSIAS</td>
                    <td>(54) 3282-5224</td>
                </tr>
                <tr>
                    <td>JACUÍ CENTRO</td>
                    <td>(51) 3722-2540</td>
                </tr>
                <tr>
                    <td>LITORAL NORTE</td>
                    <td>(51) 3663-2300</td>
                </tr>
                <tr>
                    <td>MÉDIO ALTO URUGUAI</td>
                    <td>(55) 3744-4080</td>
                </tr>
                <tr>
                    <td>METROPOLITANA DELTA DO JACUÍ</td>
                    <td>Faça contato com a SEPLAN (51)32881486</td>
                </tr>
                <tr>
                    <td>MISSÕES</td>
                    <td>(55) 3313-7968</td>
                </tr>
                <tr>
                    <td>NORDESTE</td>
                    <td>(54) 3352-1963</td>
                </tr>
                <tr>
                    <td>NOROESTE COLONIAL</td>
                    <td>(55) 3331-8408</td>
                </tr>
                <tr>
                    <td>NORTE</td>
                    <td>(54) 3520-9046</td>
                </tr>
                <tr>
                    <td>PARANHANA ENCOSTA DA SERRA	7</td>
                    <td>(51) 3541-668</td>
                </tr>
                <tr>
                    <td>PRODUÇÃO</td>
                    <td>(54) 3327-0049 ou 3316-8236</td>
                </tr>
                <tr>
                    <td>RIO DA VÁRZEA</td>
                    <td>(55) 3742-1856</td>
                </tr>
                <tr>
                    <td>SERRA	  </td>
                    <td>(54) 3218-2645</td>
                </tr>
                <tr>
                    <td>SUL</td>
                    <td> (53) 3222-6128</td>
                </tr>
                <tr>
                    <td>VALE DO CAÍ</td>
                    <td>(51) 3012-1918</td>
                </tr>
                <tr>
                    <td>VALE DO JAGUARÍ</td>
                    <td>(55) 3251-4440</td>
                </tr>
                <tr>
                    <td>VALE DO RIO DOS SINOS</td>
                    <td>(51) 3586-8800 Ramal 8879</td>
                </tr>
                <tr>
                    <td>VALE DO RIO PARDO</td>
                    <td>(51) 3717-7349</td>
                </tr>
                <tr>
                    <td>VALE DO TAQUARÍ</td>
                    <td>(51) 3714-7023</td>
                </tr>
            </table>

            <p>Também é possível votar diretamente no site <a href="http://www2.cp.rs.gov.br" target="_blank">www.consultapopular.rs.gov.br</a> das 7h às 23h59min do dia 19 de agosto.</p>
            <p>
                Informações no site, no email <a href="mailto:consultapopular@seplan.rs.gov.br">consultapopular@seplan.rs.gov.br</a> ou no telefone <a href="tel:+555132881490">(51) 3288-1490</a>.
            </p>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/procergsvprcore/css/search/search.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var citiesList
        = {{ cities | raw }};
    </script>
    {% javascripts
  '@PROCERGSVPRCoreBundle/Resources/public/js/components/citiesTypeahead.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
