<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover records_list">
        <thead>
            <tr>
                <th width="5%">Id</th>
                <th width="40%">Nome</th>
                <th width="20%">Votação</th>
                <th width="10%">Ordem</th>
                <th width="15%">Qtde de seleção</th>
                <th width="8%">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if(entities) %}
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('step_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{% if entity.poll.name is defined %}{{ entity.poll.name }}{% endif %}</td>
                        <td>{{ entity.sorting }}</td>
                        <td>{{ entity.maxSelection }}</td>
                        <td class="text-center">
                            <a title="Visualizar" class="btn btn-default btn-sm" href="{{ path('step_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a title="Editar" class="btn btn-default btn-sm" href="{{ path('step_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>                            
                    </tr>
                {% endfor %}
            {% else %}
                    <tr><td colspan="9" class="text-center">Nenhum registro encontrado</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
