{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin_users'|trans %}
{% set actionName = 'admin.show'|trans %}
{% set backParams = app.request.get('query') ? { 'query': app.request.get('query') } : { } %}

{% block content -%}
    <div class="row navbar">
        <div class="col-md-3 col-sm-12">
            <a class="btn btn-default" href="{{ path('admin_person', backParams) }}" role="button">
                <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}admin.back_to_list{% endtrans %}
            </a>
        </div>
        {{ include('PROCERGSVPRCoreBundle:Admin/User:search.html.twig', { 'widget_only': true, 'class': 'col-md-9 col-sm-12' }) }}
    </div>

    {{ form_start(form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ 'vpr.user.username.label'|trans }}</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ entity.username }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{ 'vpr.user.email.label'|trans }}</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ entity.email }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{ 'admin.created_at'|trans }}</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{ entity.createdAt|date('d/m/Y H:i:s') }}</p>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.roles) }}
        <div class="col-sm-9">
            {{ form_errors(form.roles) }}
            {{ form_widget(form.roles) }}
        </div>
    </div>

    <div class="form-group form-actions">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-sm btn-primary">{{ 'admin.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
