{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'Etapas' %}
{% set actionName = 'Editar' %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('step') }}" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Voltar para lista</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(edit_form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-7">
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Eleição</label>
            <div class="col-sm-5">
                {{ form_errors(edit_form.poll) }}
                {{ form_widget(edit_form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ordem</label>
            <div class="col-sm-1">
                {{ form_errors(edit_form.sorting) }}
                {{ form_widget(edit_form.sorting, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Qtde de seleção</label>
            <div class="col-sm-1">
                {{ form_errors(edit_form.maxSelection) }}
                {{ form_widget(edit_form.maxSelection, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-lg-10 col-lg-offset-2">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-success btn-sm btn-save'},'label':'Salvar'}) }}

    {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger btn-sm btn-delete'},'label':'Remover'}) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
{% endblock %}

