{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'Etapas' %}
{% set actionName = 'Adicionar' %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('step') }}" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Voltar para lista</a>
    </div>

    {{ form_start(form, {'attr': {'role':'form', 'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-7">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Eleição</label>
            <div class="col-sm-5">
                {{ form_errors(form.poll) }}
                {{ form_widget(form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ordem</label>
            <div class="col-sm-1">
                {{ form_errors(form.sorting) }}
                {{ form_widget(form.sorting, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Qtde de seleção</label>
            <div class="col-sm-1">
                {{ form_errors(form.maxSelection) }}
                {{ form_widget(form.maxSelection, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-lg-10 col-lg-offset-2">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-sm btn-save'},'label':'Salvar'}) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}