{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block header %}
{{ parent() }}

<div class="ballot-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="pull-left">{% trans with {'%max%': step.getMaxSelection} %}Choose up to <span class='itens-count'>%max%</span> items{% endtrans %}</span>

        <div class="btn-group">
          <button type="button" id="btn-categories" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{% trans %}Categories{% endtrans %}<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" id="dropdown-categories">
            {% for category,id in categoriesId %}
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#ctg-{{ attribute(categoriesId, category) }}">
                <span class="ctg-{{id}}"><i class="icon"></i>{{category}}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="alert-limit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="mySmallModalLabel">{% trans %}Attention!{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        {{ 'step.limit.selection' |trans }} {{ step.getMaxSelection }}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h2 class="main-title">{{ 'step.limit.selection.offer.title'| trans({'%name%' : corede.name}) }}</h2>
    <div class="alert alert-danger js-confirm" style="display:none">{{ 'step.selection.confirm' | trans }}</div>

    <div class="inner-content">
      {{ form_start(form, {'attr' : {'role' : 'form', 'class' : 'ac-custom ac-checkmark'}}) }}
      {{ form_errors(form) }}

      {% if options %}
      {% image '@PROCERGSVPRCoreBundle/Resources/public/images/ajax-loader.gif' %}
      <img src="{{ asset_url }}" alt="{%trans%}Logo Nota Fiscal Gaúcha{%endtrans%}" class="loader" width="43" height="11">
      {% endimage %}

      <div class="ballot">
        <dl class="step">
          {% for currStep,categories in options %}

          <dt class="step-title">{{ currStep }}</dt>
          <dd>
            <dl>
              {% for category,pollOptions in categories %}
              <dt class="step-category ctg-{{ attribute(categoriesId, category) }}">
                <span class="icon"><i class="img"></i></span>
                <a class="title" name="ctg-{{ attribute(categoriesId, category) }}">{{ category }}</a>
              </dt>
              <dd class="options">
                <ul>
                  {% for option in pollOptions %}
                  <li>
                    <div class="content ctg-{{ attribute(categoriesId, category) }}">
                      <input type="checkbox" id="option_{{ option.id }}" name="options[]" value="{{ option.id }}"/>
                      <label for="option_{{ option.id }}">{{ option.title |trans }}</label>
                      <span class="desc-toggle"></span>
                    </div>
                    <div class="desc">{{ option.description }}</div>
                  </li>
                  {% endfor %}
                </ul>
              </dd>
              {% endfor %}
            </dl>
          </dd>
          {% endfor %}
        </dl>
        <div class="alert alert-danger hidden" id="vote-empty">Nenhuma opção selecionada</div>

        <div id="confirmation" class="js-toggle" style="display:none">
          <button id="btn-confirm" type="submit" class="btn btn-success btn-lg">{{ 'form.confirm' | trans }}</button>
          <button id="btn-correct" type="button" class="btn btn-warning btn-lg">{{ 'form.correct' | trans }}</button>
        </div>
      </div>

      {% endif %}

      <div id="button-bar">
        <button id="btn-vote" type="button" class="btn btn-success btn-lg js-toggle" data-loading-text="Aguarde...">{{ 'form.vote' | trans }}</button>
      </div>

      {{ form_end(form) }}
    </div>
  </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}

{% stylesheets 'bundles/procergsvprcore/css/step/step.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% stylesheets 'bundles/procergsvprcore/css/step/ie.css' filter='cssrewrite' %}
<!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ asset_url }}" />
<![endif]-->
{% endstylesheets %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts
  'bundles/procergsvprcore/js/step/svgcheckbx.js' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
  'bundles/procergsvprcore/js/step/step.js' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
    var maxItens = {{ step.getMaxSelection }}
  </script>

  {% endblock %}
