{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron" style="min-height:500px;">
            {{ form_start(form, {'attr' : {'role' : 'form'}}) }}
            {{ form_errors(form) }}

            {% if options %}
            <div class="step-box">
              {% image '@PROCERGSVPRCoreBundle/Resources/public/images/ajax-loader.gif' %}
              <img src="{{ asset_url }}" alt="{%trans%}Logo Nota Fiscal Gaúcha{%endtrans%}" class="loader">
              {% endimage %}
              <dl class="step">
                {% for currStep,categories in options %}
                  <dt>{{ currStep }}</dt>
                  <dd>
                    <dl>
                      {% for category,pollOptions in categories %}
                        <dt>{{ category }}</dt>
                        <dd class="category">
                          <ul>
                            {% for option in pollOptions %}
                            <li>
                              <input type="checkbox" id="option_{{ option.id }}" name="options[]" value="{{ option.id }}"/>
                              <label for="cb6">{{ option.title |trans }}</label>
                            </li>
                            {% endfor %}
                          </ul>
                        </dd>
                      {% endfor %}
                    </dl>
                  </dd>
                {% endfor %}
              </dl>
            </div>

            {% endif %}
            <div id="button-bar">
            <button id="btn-vote" type="button" class="btn btn-success btn-lg btn-block">{{ 'form.vote' | trans }}</button>
            <div id="confirmation" style="display: none;">
            <button id="btn-confirm" type="submit" class="btn btn-success btn-lg btn-block">{{ 'form.confirm' | trans }}</button>
            <button id="btn-cancel" type="button" class="btn btn-success btn-lg btn-block">{{ 'form.cancel' | trans }}</button>
            </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.category li {
    list-style: none outside none;
}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function() {

  var oba = {
    label: {
      'limit' : '{{ 'step.limit.selection' |trans }}'
    },
    maxItens: {{ step.getMaxSelection }}
  };

  $(".step input").on("click", function(event) {
    var sel = $('.step input:checked');
    if (sel.length > oba.maxItens) {
      event.preventDefault();
      alert(oba.label['limit'] + oba.maxItens);
    }
  });

  $("#btn-vote").on("click", function() {
    $(".step").slideUp("slow", function() {
      $('input:checked').closest('.category').prev('dt').addClass('lero');
      $('dd dt').not('.lero').hide();
      $('dd dt').not('.lero').next().hide();
      $("li input").not(':checked').closest('li').hide();
      $(".loader").fadeIn();
      $('#btn-vote').hide();
    });

    setTimeout(function() {
      $(".loader").fadeOut();
      $(".step").slideDown("slow", function() {
        $('#confirmation').show();
      });
    }, 3000);

  });

  $("#btn-cancel").on("click", function() {
    $('dt,dd,li').show().removeClass('lero');
    $('#confirmation').hide();
    $('#btn-vote').show();
  });


});
</script>

<script>
// var oba = {};
// oba.label = {'limit' : '{{ 'step.limit.selection' |trans }}'};
// oba.maxItens = {{ step.getMaxSelection }};
// $(document).on('click', '.step input', function (event) {
//   var sel = $('.step input:checked');
//   if (sel.length > oba.maxItens) {
//     event.preventDefault();
//     alert(oba.label['limit'] + oba.maxItens);
//     }
// });
// $(document).on('click', '#btn-vote', function(event) {
//   //debugger;
//   $('input:checked').parents('.category').prev('dt').addClass('lero');
//   $('dd dt').not('.lero').slideUp('medium');
//   $('dd dt').not('.lero').next().slideUp('medium');
//   $("li input").not(':checked').parents('li').slideUp('medium');
//   $('#btn-vote').hide();
//   $('#confirmation').show();
// });
// $(document).on('click', '#btn-cancel', function(event) {
//   $('dt,dd,li').slideDown('medium').removeClass('lero');
//   $('#confirmation').hide();
//   $('#btn-vote').show();
// });
</script>
{% endblock %}
