{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block header %}
{{ parent() }}

<div class="ballot-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button type="button" id="btn-categories" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{% trans %}Categories{% endtrans %}<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" id="dropdown-categories">
                    {% for category,id in categoriesId %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#ctg-{{ attribute(categoriesId, category) }}" class="scrollTo">
                                <span class="ctg-{{id}}"><i class="icon"></i>{{category}}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alert-limit" tabindex="-1" role="dialog" aria-labelledby="maxSelectionWarning" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="maxSelectionWarning">{{ 'Warning!'|trans }}</h4>
            </div>
            <div class="modal-body">
                {% set maxSelection = step.getMaxSelection %}
                {% transchoice maxSelection %}
                {0} You can't select any options|{1} You can select up to one option|]1,Inf] You can select up to %maxSelection% options
                {% endtranschoice %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'Ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">

        {# <h1 class="main-title">{{ 'Ballot for %name%'| trans({'%name%' : corede.name}) }}</h1>
        <p class="alert alert-info" id="max-selection">{% trans with {'%max%': step.getMaxSelection} %}Choose up to <span class='itens-count'>%max%</span> items{% endtrans %}</p>
        <div class="alert alert-danger confirm-message" style="display:none">{% trans %}Please review your choices and click confirm to proceed or rectify to correct them.{% endtrans %}</div> #}


        {{ form_start(form, {'attr' : {'role' : 'form', 'class' : 'ac-custom ac-checkmark'}}) }}
            {{ form_errors(form) }}

        {% if options %}
            {% image '@PROCERGSVPRCoreBundle/Resources/public/images/ajax-loader.gif' %}
            <img src="{{ asset_url }}" alt="{%trans%}Loading{%endtrans%}" class="loader" width="43" height="11">
            {% endimage %}

            <div class="ballot">
                <dl class="steps">
                {% for currStep,categories in options %}
                    <dt class="step-title">
                      <p>{{ currStep }} - {{ corede.name }}</p>
                      <div class="alert alert-info affix-top text-center" id="info-msg" data-spy="affix" data-offset-top="300">
                          {# <p>{% trans with {'%max%': step.getMaxSelection} %}Choose up to <span class='itens-count'>%max%</span> items{% endtrans %}</p> #}
                          {# <p>Você já selecionou <span class="vote-count" data-val="0">0</span></p> #}


                          <p>{% trans with {'%max%': step.getMaxSelection} %}You have already chose <span class='itens-count'>0</span> up to %max% items{% endtrans %}</p>

                      </div>
                    </dt>
                    <dd>
                        <dl>
                        {% for category,pollOptions in categories %}
                            <dt class="step-category ctg-{{ attribute(categoriesId, category) }}">
                                <span class="icon"><i class="img"></i></span>
                                <a class="title" name="ctg-{{ attribute(categoriesId, category) }}">{{ category }}</a>
                            </dt>
                            {% for option in pollOptions %}
                            <dd class="option">
                                <div class="content ctg-{{ attribute(categoriesId, category) }}">
                                    <input type="checkbox" id="option_{{ option.id }}" name="options[]" value="{{ option.id }}"/>
                                    <label for="option_{{ option.id }}">{{ option.getCategorySorting}} - {{ option.title |trans }}
                                    {% if option.cost is not null and option.cost > 0 %}
                                    - {{ 'Cost: R$'|trans }} {{ option.cost|number_format(2, ',', '.') }}
                                    {% endif %}
                                    </label>
                                    {% if option.description %}<span class="desc-toggle" title="{{ 'Description' | trans }}"></span>{% endif %}
                                </div>
                                {% if option.description %}<div class="desc">{{ option.description }}</div>{% endif %}
                            </dd>
                            {% endfor %}
                        {% endfor %}
                        </dl>
                    </dd>
                {% endfor %}
                </dl>
                <div class="alert alert-danger hidden" id="vote-empty">Nenhuma opção selecionada</div>

                <div id="confirmation" class="confirmation-buttons" style="display:none">
                    <button id="btn-confirm" type="submit" class="btn btn-success btn-lg">{{ 'Confirm' | trans }}</button>
                    <button id="btn-rectify" type="button" class="btn btn-warning btn-lg">{{ 'Rectify' | trans }}</button>
                </div>
            </div>

      {% endif %}

            <div id="button-bar">
                <button id="btn-vote" type="button" class="btn btn-success btn-lg js-toggle" data-loading-text="Aguarde...">{{ 'Cast Vote' | trans }}</button>
            </div>

            <div class="modal fade" id="confirmation-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Altere ou confirme seu voto</h4>
                  </div>
                  <div class="modal-body" id="confirmation-content"></div>
                  <div class="modal-footer">
                    <a id="btn-rectify" role="button" class="btn btn-lg" data-dismiss="modal">{{ 'Change' | trans }}</a>
                    <button id="btn-confirm" type="submit" class="btn btn-success btn-lg">{{ 'Confirm' | trans }}</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

      {{ form_end(form) }}

    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets 'bundles/procergsvprcore/css/step/step.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/procergsvprcore/css/step/ie.css' filter='cssrewrite' %}
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ asset_url }}" />
    <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        var maxItems = {{ step.getMaxSelection }}
    </script>

    {% javascripts 'bundles/procergsvprcore/js/step/svgcheckbx.js'
                    'bundles/procergsvprcore/js/step/step.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
