{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.ballot'|trans %}
{% set actionName = 'admin.list'|trans %}

{% block content -%}
    <div class="navbar">
        {% if is_granted('ROLE_BALLOT_CREATE') %}
            <a class="btn btn-default" href="{{ path('admin_poll_option_new') }}" role="button"><span
                        class="glyphicon glyphicon-file"></span> {% trans %}admin.add_poll_option{% endtrans %}</a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="jumbotron">
        {{ form_start(form, {'method':'POST', 'attr': {'role':'form'}}) }}
        <div class="row">
            <div class="form-group col-md-6">
                <label>{{ 'admin.poll'|trans }}</label>
                {{ form_widget(form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-md-6">
                <label>{{ 'admin.corede'|trans }}</label>
                {{ form_widget(form.corede, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 text-right">
                <button type="submit" class="btn btn-primary">{{ 'admin.filter'|trans }}</button>
                <a href="{{ path('admin_poll_option_clear_filters') }}" class="btn btn-danger">{{ 'admin.clear_filters'|trans }}</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {% include 'PROCERGSVPRCoreBundle:Admin/PollOption:list.html.twig' with {'entities': entities} %}
{% endblock %}