{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'Eleições' %}
{% set actionName = 'Listar' %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('poll_new') }}" role="button"><span class="glyphicon glyphicon-file"></span> Adicionar</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover records_list">
            <thead>
                <tr>
                    <th width="5%">Id</th>
                    <th width="20%">Nome</th>
                    <th width="15%">Data abertura</th>
                    <th width="15%">Data fechamento</th>
                    <th width="25%">Descrição</th>
                    <th width="12%">Chave publica</th>
                    <th width="8%">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if(entities) %}
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('poll_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{% if entity.openingTime %}{{ entity.openingTime|date('d/m/Y H:i:s') }}{% endif %}</td>
                            <td>{% if entity.closingTime %}{{ entity.closingTime|date('d/m/Y H:i:s') }}{% endif %}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.publicKey }}</td>
                            <td>
                                <a title="Visualizar" class="btn btn-default btn-sm" href="{{ path('poll_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a title="Editar" class="btn btn-default btn-sm" href="{{ path('poll_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr><td colspan="7" class="text-center">Nenhum registro encontrado</td></tr>
                {% endif %}                
            </tbody>
        </table>
    </div>
{% endblock %}
