{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'Votações' %}
{% set actionName = 'Visualizar' %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('poll') }}" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Voltar para lista</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" style="margin-bottom: 40px;">
                <li class="active"><a href="#poll" data-toggle="tab">Votação</a></li>
                <li><a href="#step" data-toggle="tab" href="#">Etapas</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="poll">

                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{type}} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ entity.id }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ entity.name }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Data abertura</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ entity.openingTime|date('d/m/Y H:i:s') }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Data fechamento</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ entity.closingTime|date('d/m/Y H:i:s') }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descrição</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ entity.description }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Chave publica</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ entity.publicKey }}</p>
                            </div>
                        </div>
                    </form>

                    <div class="form-group form-actions">
                        <div class="col-lg-10 col-lg-offset-2">            
                            <a href="{{ path('poll_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-primary">Editar</a>

                            {{ form_start(delete_form) }}
                            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger btn-sm btn-delete'},'label':'Remover'}) }}
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
                    
                <div class="tab-pane" id="step">
                    {% include 'PROCERGSVPRCoreBundle:Step:list.html.twig' with {'entities': steps} %}
                </div>

            </div>
        </div>
    </div>                    

{% endblock %}
