{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/procergsvprcore/css/graphics/graphics.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12">
    <a href="{{ path('vpr_stats_main') }}" class="btn btn-default" title="{{ 'Check stats' | trans }}">Voltar</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="graphics">
      <div class="map-graphic-container"><div id="graphic-map"></div></div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
{% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/graphics/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
  var graphics_at_page = {
    map: [
    {
      title:    "Estado",
      url:      '{{ path('vpr_stats_graphics_query1') }}',
      coredes:  true,
      location: "#graphic-map",
      loader:   true,
      detailsCallback: function(pin) {
        var link_corede = "";
        if(pin.link_corede != undefined){
          link_corede = '<a href="' + pin.link_corede + '" class="view"><span class="show-more"></span>Veja cidades do corede</a>';
        }

        // configura o detalhe
        var details = '<div class="detail">' +
        ' <strong>' + pin.name + '</strong>' +
        ' <p><span>População:</span>' + parseFloat(pin.population).formatMoney(0, ',', '.') + '</p>' +
        ' <hr>' +
        ' <p><span>Número de diárias no período:</span>' + parseFloat(pin.quantity).formatMoney(2, ',', '.') + ' </p>' +
        ' <p><span>Valor gasto com diárias no período:</span> R$ ' + parseFloat(pin.amount).formatMoney(2, ',', '.') + ' </p>' +
        link_corede +
        ' <a href="javascript:void(0);" class="close"><span class="close"></span>Fechar</a>' +
        '</div>';

        return details;
      }
    }
    ]
  };
</script>
{% endblock %}