{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'report.missio'|trans %}
{% set actionName = 'report.missio.resumo.corede'|trans %}

{% block content -%}
{% for type, messages in app.session.flashbag.all() %}
{% for message in messages %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ message }}
</div>
{% endfor %}
{% endfor %}
<div style="display: none;" id="city-all">
{% for city in allCitys %}
<option data-corede-id="{{ city.corede_id }}" value="{{ city.id }}">{{ city.name | trans }}</option>
{% endfor %}
</div>
	<div class="jumbotron">
		<form method="POST" id="filter-form" action="{{ path('vpr_rl_resumo_corede') }}" role="form">
			<div class="row">
				<div class="form-group col-md-4">
					<label>{{ 'admin.poll'|trans }}</label>
					<div>
						<select id="poll_id" name="poll_id" class="form-control" required="required">
							<option value="">Selecione</option>
							{% for poll in polls %}
							<option value="{{ poll.id }}" {{  poll.id == filter.poll_id ? ' selected="selected" ' : '' }}>{{ poll.name | trans }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label>{{ 'admin.corede'|trans }}</label>
					<div>
						<select id="corede_id" name="corede_id" class="form-control">
							<option value="">Selecione</option>
							{% for corede in coredes %}
							<option value="{{ corede.id }}" {{  corede.id == filter.corede_id ? ' selected="selected" ' : '' }}>{{ corede.name | trans }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label>{{ 'admin.city'|trans }}</label>
					<div>
						<select id="city_id" name="city_id" class="form-control">
							<option value="">Selecione</option>
							{% for city in citys %}
							<option data-corede-id="{{ city.corede_id }}" value="{{ city.id }}" {{  city.id == filter.city_id ? ' selected="selected" ' : '' }}>{{ city.name | trans }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			 <div class="row">
                <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">{{ 'admin.filter'|trans }}</button>
                </div>
        	</div>
		</form>
	</div>
<div class="row">
{% if filter.poll_id %}
<div class="row-fluid col-md-3">
	<a href="{{ path('vpr_rl_resumo_corede_csv') }}" target="_blank">
		<button class="btn btn-success btn-form-type">{{ 'admin.ods'|trans }}</button>
	</a>
</div>
{% endif %}
</div>
{% if entities1 and entities4 %}
    <div class="table-responsive">
        {% include 'PROCERGSVPRCoreBundle::Stats/missioResumoCoredeList.html.twig' %}
    </div>
{% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function(){
	$('#corede_id').change(function(){
		var i = $(this).val();
		$('#city_id option[data-corede-id]').remove();
		if (i) {		
			$('#city_id').append($('#city-all option[data-corede-id='+ i +']'));
		} 
	});
});
</script>
{% endblock %}
