{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
    <h1>Resultados parciais</h1>
    <p>Demandas escolhidas por corede</p>

    <div class="jumbotron" style="padding: 0;">
        {{ form_start(form, {'method':'POST', 'attr': {'role':'form', 'class':'form-inline'}}) }}
            <div class="form-group">
                <label>{{ 'admin.poll'|trans }}</label>
                {{ form_widget(form.poll, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>{{ 'admin.corede'|trans }}</label>
                {{ form_widget(form.corede, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">{{ 'admin.filter'|trans }}</button>
        {{ form_end(form) }}
    </div>
 
    {% if (results) %}
        <div class="row" style="color:black">
            {% for name,step in results %}
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">{{ name }}</th>
                            </tr>
                            <tr>
                                <th width="10%">Votos</th>
                                <th width="80%">Corede</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set total = 0 %}
                            {% if (step) %}
                                {% for option in step %}
                                    {% set total = total + option['value'] %}
                                    <tr>
                                        <td class="text-center">{{ '%.0f'|format(option['value']) }}</td>
                                        <td>{{option['number']}} - {{ option['title'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="2">Nenhum voto encontrado para o corede selecionado</tr></td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8" style="margin-bottom: 30px;">
                    <p><strong>Total de votos :</strong>{{ total }}</p>
                </div>                    
            {% endfor %}
        </div>    
    {% endif %}
 {% endblock %}