{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
    <h1>Resultados parciais</h1>

    <p>Total de votos por corede</p>

    {% if (results) %}
        <div class="row" style="color: #000;">
            <div class="col-md-8">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="40%">Corede</th>
                            <th width="30%" class="text-center">Votos com Título</th>
                            <th width="30%" class="text-center">Total de Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% set totalWithVoterRegistration = 0 %}
                        {% for entity in results %}
                            {% set total = total + entity.getTotalVotes %}
                            {% set totalWithVoterRegistration = totalWithVoterRegistration + entity.getTotalWithVoterRegistration %}
                            <tr>
                                <td>{{ entity.getCoredeName }}</td>
                                <td class="text-center">{{ entity.getTotalWithVoterRegistration }}</td>
                                <td class="text-center">{{ entity.getTotalVotes }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right"><strong>Total</strong></td>
                            <td class="text-center">{{ totalWithVoterRegistration }}</td>
                            <td class="text-center">{{ total }}</td>
                        </tr>
                    </tfoot>
                </table>
                <p style="color: #000;">Atualizado em: {% if (created_at) %}{{ created_at |date('d/m/Y H:i:s') }}{% endif%}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}