{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}

<h1>Relatórios dos Resultados parciais</h1>

<ul>
  <li>
    <a href="{{ path('vpr_stats_votes') }}">{{ 'Total votes by COREDE via graph'|trans }}</a>
  </li>
    <li>
    <a href="{{ path('vpr_stats_graphics') }}">{{ 'Total votes by COREDE via map'|trans }}</a>
  </li>
  <li>
    <a href="{{ path('vpr_option_vote_by_corede') }}">{{ "Percent of poll''s options by COREDE"|trans }}</a>
  </li>
</ul>


{% endblock %}