{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'report.missio'|trans %}
{% set actionName = 'report.missio.criterio'|trans %}

{% block content -%}
{% for type, messages in app.session.flashbag.all() %}
{% for message in messages %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ message }}
</div>
{% endfor %}
{% endfor %}
	<div class="jumbotron">
		<form method="GET" id="filter-form" action="{{ path('rlcriterio') }}" role="form">
			<div class="row">
				<div class="form-group col-md-12">
					<label>{{ 'admin.poll'|trans }}</label>
					<div>
						<select id="poll_id" name="poll_id" class="form-control">
							{% for poll in polls %}
							<option value="{{ poll.id }}" {{  poll.id == currentPollId ? ' selected="selected" ' : '' }}>{{ poll.name | trans }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</form>
	</div>
<div class="row">
<div class="row-fluid col-md-3">
	<a href="{{ path('rlcriterio_csv') }}?poll_id={{ currentPollId }}" target="_blank">
		<button class="btn btn-success btn-form-type">{{ 'admin.csv'|trans }}</button>
	</a>
</div>
</div>
	<form method="POST" id="table-form">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover records_list">
				<thead>
					<tr>
						<th>Cód. Corede</th>
						<th>Corede</th>
						<th>Valor</th>
						<th>Programas</th>
						<th colspan="4">Distribuição</th>
					</tr>
				</thead>
				<tbody>
					{% set totValues = 0 %}
					{% for entity in entities %}
					{% set totValues = totValues + entity.tot_value %}
					<tr>
						<td>{{ entity.corede_id }}</td>
						<td>{{ entity.corede_name }}</td>
						<td><input class="form-control money" maxlength="10" autocomplete="off" type="text" name="item[{{ entity.corede_id }}][tot_value]" value="{{ entity.tot_value }}"></td>
						<td><input class="form-control" type="number" min="0" max="4" name="item[{{ entity.corede_id }}][tot_program]" value="{{ entity.tot_program }}"></td>
						<td><input class="form-control percentual" maxlength="5" autocomplete="off" type="text" name="item[{{ entity.corede_id }}][program1]" value="{{ entity.program1 }}"></td>
						<td><input class="form-control percentual" maxlength="5" autocomplete="off" type="text" name="item[{{ entity.corede_id }}][program2]" value="{{ entity.program2 }}"></td>
						<td><input class="form-control percentual" maxlength="5" autocomplete="off" type="text" name="item[{{ entity.corede_id }}][program3]" value="{{ entity.program3 }}"></td>
						<td><input class="form-control percentual" maxlength="5" autocomplete="off" type="text" name="item[{{ entity.corede_id }}][program4]" value="{{ entity.program4 }}"></td>
					</tr>
					{% endfor %}
					{% if totValues > 0 %}
					<tr>
						<td></td>
						<td></td>
						<td>{{ totValues|number_format(2, ',', '.') }}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="form-actions text-right">
				<input value="salvar" name="salvar" class="btn btn-primary" type="submit">
			</div>
		</div>
	</form>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$(function() {
		$("#filter-form #poll_id").change(function(e) {
			$("#filter-form").submit();
		});
		$('.percentual').mask('000,00', {
			reverse : true
		});
	});
</script>
{% endblock %}
