{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block header %}
    {{ include('PROCERGSVPRCoreBundle::navbar.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergsvprcore/css/boostrap.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets 'bundles/procergsvprcore/css/admin/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/admin/jquery-sortable.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/admin/admin.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var saveStepSortingUrl = '{{ path('admin_step_save_sorting') }}';
        var savePollOptionSortingUrl = '{{ path('admin_poll_option_save_sorting') }}';
        var loadPollStepsUrl = '{{ path('admin_select_steps') }}';
    </script>
{% endblock %}

{% block body %}

    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ flash_message | trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="page-header">
        <h1>
            {{ contentName }}
            {% if(actionName is defined) %}
                »
                <small>{{ actionName }}</small>
            {% endif %}
        </h1>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block footer %}{% endblock %}
