{% extends '::base.html.twig' %}

{% block header %}
<header class="text-center">
  <a href="{{ path('procergsvpr_core_homepage') }}">
    {% image '@PROCERGSVPRCoreBundle/Resources/public/images/header-text.png' %}
    <img src="{{ asset_url }}" alt="{%trans%}Priorities Voting{%endtrans%}" class="img-responsive">
    {% endimage %}
  </a>
</header>

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-info">
  <div class="container">
    {{ flashMessage }}
  </div>
</div>
{% endfor %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block stylesheets %}
{% stylesheets 'bundles/procergsvprcore/css/*.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block footer %}
{# <div id="social-bar">
  <div class="container">
    <div class="row">
    <div class="col-sm-4 text-center">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-sm-4 text-center">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=424387027695369&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
      <div class="col-sm-4 text-center">
        <!-- Posicione esta tag onde você deseja que o botão +1 apareça. -->
        <div class="g-plusone" data-annotation="none"></div>

        <!-- Posicione esta tag depois da última tag do botão +1. -->
        <script type="text/javascript">
          window.___gcfg = {lang: 'pt-BR'};

          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>
    </div>
  </div>
</div> #}

<footer>
  <div class="container">
    <div class="row images">
      <div class="col-xs-4 col-sm-3 text-center">
        {% image '@PROCERGSVPRCoreBundle/Resources/public/images/logo-PPCF.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}PPC{%endtrans%}" class="img-responsive">
        {% endimage %}
      </div>

      <div class="col-xs-4 col-sm-3 text-center">
        {% image '@PROCERGSVPRCoreBundle/Resources/public/images/logo-Coredes.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}COREDES{%endtrans%}" class="img-responsive">
        {% endimage %}
      </div>

      <div class="col-xs-4 col-sm-3 text-center">
        {% image '@PROCERGSVPRCoreBundle/Resources/public/images/logo-ONU.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}ONU{%endtrans%}" class="img-responsive">
        {% endimage %}
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        {% image '@PROCERGSVPRCoreBundle/Resources/public/images/logo-gov.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}Rio Grande do Sul{%endtrans%}" class="img-responsive">
        {% endimage %}
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <div class="row about">
      <div class="col-xs-6 text-center">
        {% image '@PROCERGSVPRCoreBundle/Resources/public/images/logo-PROCERGS.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}PROCERGS{%endtrans%}" class="img-responsive">
        {% endimage %}
      </div>
      <div class="col-xs-6 text-center">
        <a href="">{% trans %}Terms of Use{% endtrans %}</a>
      </div>
    </div>
  </div>

</footer>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% javascripts
  '@PROCERGSVPRCoreBundle/Resources/public/js/*' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

<!--[if lt IE 10]>
    <script type="text/javascript">
    $('input[placeholder], textarea[placeholder]').placeholder();
    </script>
    <![endif]-->
    <script>
      var loadNavbar = function() {
        $("#external").remove();
        $.getScript('{{ login_cidadao_navbar_url }}?app_id={{ login_cidadao_app_id }}', function() {
          citizenLogin.navbar.init();
          {% if app.user is null %}
          if (citizenLogin.loggedIn === true && $("#logout-iframe").length === 0) {
            var authUrl = '{{ path('hwi_oauth_service_redirect', {'service': 'loginCidadao'}) }}';
            document.location = authUrl;
          }
          {% endif %}
        });
      };
      $(document).ready(function() {
        loadNavbar();
      });
    </script>
    {% endblock %}
