{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('admin') }}">VPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% set controller = "app.request.attributes.get('_template').get('controller')|lower" %}
                    {% if app.user is not null and (is_granted('ROLE_STATS') or is_granted('ROLE_CRUD_POLL') or is_granted('ROLE_CRUD_BALLOTBOX') or is_granted('ROLE_MANAGE_USER')) %}
                        <li class="{{ controller == 'admin\\poll' ? 'active' }}">
                            <a href="{{ path('admin_poll') }}">{{'admin.poll'|trans}}</a>
                        </li>
                        <li class="{{ controller == 'admin\\step' ? 'active' }}">
                            <a href="{{ path('admin_step') }}">{{'admin.steps'|trans}}</a>
                        </li>
                        <li class="{{ controller == 'admin\\category' ? 'active' }}">
                            <a href="{{ path('admin_category') }}">{{'admin.category'|trans}}</a>
                        </li>
                        <li class="{{ controller == 'admin\\polloption' ? 'active' }}">
                            <a href="{{ path('admin_poll_option') }}">{{'admin.ballot'|trans}}</a>
                        </li>
                        <li class="{{ controller == 'admin\\ballotbox' ? 'active' }}">
                            <a href="{{ path('admin_ballotbox') }}">{{'admin.ballotBox'|trans}}</a>
                        </li>
                        <li class="{{ controller == 'admin\\person' ? 'active' }}">
                            <a href="{{ path('admin_person') }}">{{'admin.users'|trans}}</a>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atualizações <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="{{ controller == 'admin\\person' ? 'active' }}">
                                    <a target="_blank" href="{{ path('vpr_stats_update_total_votes') }}">Atualizar totais de Votos/Corede</a>
                                </li>
                            </ul>
                        </li>                    
                        
                        

                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_logout') }}">{{'admin.logout'|trans}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergsvprcore/css/boostrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />    
    {% endstylesheets %}

    {% stylesheets 'bundles/procergsvprcore/css/admin/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />    
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/admin/jquery-sortable.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@PROCERGSVPRCoreBundle/Resources/public/js/admin/admin.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var saveStepSortingUrl = '{{ path('admin_step_save_sorting') }}';
        var savePollOptionSortingUrl = '{{ path('admin_poll_option_save_sorting') }}';
        var loadPollStepsUrl = '{{ path('admin_select_steps') }}';
    </script>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>
            {{ contentName }}
            {% if(actionName is defined) %}
            »
            <small>{{ actionName }}</small>
            {% endif %}
        </h1>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block footer %}{% endblock %}