<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('procergsvpr_core_homepage') }}">VPR!</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Sobre</a>
            </li>
            <li>
                <a href="{{ path('procergsvpr_core_cedula') }}">Cédulas</a>
            </li>
            <li>
                <a href="{{ path('procergsvpr_core_places') }}">Locais de Votação</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('procergsvpr_core_municipio') }}">Seleção de município</a></li>
                    <li><a href="{{ path('procergsvpr_core_tituloVotou') }}">Título já votou</a></li>
                    <li><a href="{{ path('procergsvpr_core_nfgFraca') }}">NFG fraca</a></li>
                    <li><a href="{{ path('procergsvpr_core_horarioEncerrado') }}">Horário encerrado</a></li>
                    <li><a href="{{ path('procergsvpr_core_solicita_titulo') }}">Solicita título</a></li>
                    <li><a href="{{ path('procergsvpr_core_reforcar_voto') }}">Reforçar voto</a></li>
                    <li><a href="{{ path('procergsvpr_core_sem_nfg') }}">Sem NFG</a></li>
                </ul>
            </li>
            {% if app.user is not null and (is_granted('ROLE_STATS') or is_granted('ROLE_CRUD_POLL') or is_granted('ROLE_CRUD_BALLOTBOX') or is_granted('ROLE_MANAGE_USER')) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('poll') }}">Votações</a></li>
                        <li><a href="{{ path('step') }}">Etapas</a></li>
                        <li><a href="{{ path('category') }}">Categorias</a></li>
                        <li><a href="{{ path('ballotbox') }}">Urnas</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
