{% if app.user and is_granted('ROLE_ADMIN_MENU') %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('admin') }}">VPR</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% set controller = "app.request.attributes.get('_template').get('controller')|lower" %}
                    {% if is_granted('ROLE_POLL') %}
                        <li class="{{ controller == 'admin\\poll' ? 'active' }}">
                            <a href="{{ path('admin_poll') }}">{{ 'Polls'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_STEP') %}
                        <li class="{{ controller == 'admin\\step' ? 'active' }}">
                            <a href="{{ path('admin_step') }}">{{ 'Steps'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CATEGORY') %}
                        <li class="{{ controller == 'admin\\category' ? 'active' }}">
                            <a href="{{ path('admin_category') }}">{{ 'Categories'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_BALLOT') %}
                        <li class="{{ controller == 'admin\\polloption' ? 'active' }}">
                            <a href="{{ path('admin_poll_option') }}">{{ 'Ballots'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_BALLOTBOX') %}
                        <li class="{{ controller == 'admin\\ballotbox' ? 'active' }}">
                            <a href="{{ path('admin_ballotbox') }}">{{ 'Ballot Boxes'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADM_USER') %}
                        <li class="{{ controller == 'admin\\user' ? 'active' }}">
                            <a href="{{ path('admin_user_list') }}">{{ 'Users'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_RESULTS') %}
                        <li class="{{ controller == 'admin\\poll' ? 'active' }}">
                            <a href="{{ path('admin_stats') }}">{{ 'Stats'|trans }}</a>
                        </li>
                        <li class="{{ controller == 'admin\\poll' ? 'active' }}">
                            <a href="{{ path('admin_stats2') }}">{{ 'admin.stats2'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_STATS') or is_granted('ROLE_RESULTS') %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'Reports'|trans }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_STATS') %}
                                    <li>
                                        <a href="{{ path('vpr_stats_ballotboxes_admin') }}">{{ 'Ballot Boxes'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_stats_votes') }}">{{ 'Total votes by COREDE via graph'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_stats_graphics') }}">{{ 'Total votes by COREDE via map'|trans }}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_RESULTS') %}
                                    <li>
                                        <a href="{{ path('vpr_option_vote_by_corede') }}">{{ "Partial results online by Corede"|trans }}</a>
                                    </li>
                                {% endif %}                                
                                {% if is_granted('ROLE_RESULTS') %}
                                    <li>
                                        <a href="{{ path('vpr_option_vote_by_city') }}">{{ "Partial results online by City"|trans }}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_STATS') %}
                                    <li><a href="{{ path('vpr_stats_votes_per_ip') }}">Votos por IP</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_RESULTS') %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'report.missio'|trans }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">                                
                                    <li>
                                        <a href="{{ path('rlcriterio') }}">{{ 'report.missio.criterio'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('rlcriteriomun') }}">{{ 'report.missio.perc.mun'|trans }}</a>
                                    </li>
                                                                        <li>
                                        <a href="{{ path('rlagency') }}">{{ 'report.missio.agency'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_rl_eleitores_municipio') }}">{{ 'report.missio.eleitores.muncipio'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_rl_votos') }}">{{ 'report.missio.votos'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_rl_programas_valor') }}">{{ 'report.missio.programas.valor'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_rl_resumo_programas_valor') }}">{{ 'report.missio.resumo.programas.valor'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('vpr_rl_resumo_corede') }}">{{ 'report.missio.resumo.corede'|trans }}</a>
                                    </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
